<div class="nested-fields">
  <% classes = "show-icon"%>
  <% classes += " hide" if f.object.tasks.any? %>
  <%= link_to_remove_association f, class: classes do %>
    <%= image_tag("icons/icon-delete.svg", alt: "remove subject") %>
  <% end %>

  <%= f.text_field :name, class: "small-padding" %>
  <%= f.color_field :color, class: "color-field" %>
</div>
