<div class="nested-fields">
  <%= link_to_remove_association f, class: "show-icon" do %>
    <%= image_tag("icons/icon-delete.svg", alt: "remove weblink") %>
  <% end %>

  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :url, placeholder: "URL" %>
</div>
