@import "../abstracts/_abstracts-dir";

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: $robotocondensed;
  font-size: 16px;
  line-height: 1.6;
  color: $color-black;
  background-color: $color-background;
  display: grid;
  grid-template-areas:
    "main aside"
    "footer footer";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

  @media screen and (max-width: $tablet-screen) {
    grid-template-columns: 1fr 0;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $tablet-screen;
    margin: 0 auto;
    overflow: scroll;

    // Hide scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    .margin {
      margin: 1rem;
    }
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    max-width: 100%;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0 1rem;
      min-width: 0;

      a {
        display: contents;
        img {
          border: 1px rgba(255,255,255,0.5) solid;
        }
      }

      h4 {
        margin-left: 0.25rem;
        padding-left: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  aside {
    grid-area: aside;
    @media screen and (max-width: $tablet-screen) {
      margin-bottom: 3.95rem;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: initial;
    }
  }
}
