@import "../abstracts/_abstracts-dir";

h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr,
.label {
  margin-bottom: 1rem;
}

.label,
h1, h2, h3, h4, h5, h6 {
  display: block;
  line-height: 1.3;
  color: $color-black;
  margin-top: 1rem;

  &.bgblue {
    background-color: $color-primary;
    color: $color-white;
  }
}

h1 {
  font-size: 2.25rem;
  font-style: italic;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
.label {
  font-size: 1.5rem;
  font-weight: normal;
}

a {
  color: $color-black;
}