// Devices
$medium-screen: 1080px;
$tablet-screen: 768px;
$mobile-screen: 480px;

// Type Systems
$roboto: 'Roboto', sans-serif;
$robotocondensed: 'Roboto Condensed', sans-serif;

// Colors
$color-primary: #24A;
$color-white: #FFF;
$color-black: #000;
$color-background: #EEE;
$color-background-tasks: #DDD;
$color-background-button: #456;

$color-state-todo: #24A;
$color-state-doing: #29A;
$color-state-done: #2A5;
