// -----------------------------------------------------------------------------
// This file contains all styles related to the task component.
// -----------------------------------------------------------------------------
@import "../abstracts/_abstracts-dir";

.subject {
    font-family: $roboto;
    font-weight: bold;
    text-transform: uppercase;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin: 0.25rem 0;

    a {
        text-decoration: none;
    }

    .task-content {
        width: 100%;
        padding: 0.75rem;
        background-color: $color-background-tasks;
        font-family: $roboto;
        border: 1px solid rgba(0,0,0,0.25);

        .duedate {
            font-weight: lighter;
            font-style: italic;
        }

        .icons > img {
            margin-right: 0.5rem;
        }

        .top,
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &.todo {
            background-color: lighten($color-status-todo, 55);
        }
        &.doing {
            background-color: lighten($color-status-doing, 55);
        }
        &.done {
            background-color: lighten($color-status-done, 55);
            h4 {
                text-decoration: line-through;
            }
        }
    }
}
