<footer>
  <h4 class="bgblue">Page Title<!-- TODO: Replace with current site title --></h4>
  <a class="menu-icon" href="javascript:void(0)">
    <%= image_tag("icons/icon-menu.svg", alt: "Menu-Icon") %>
  </a>
</footer>
