<footer>
  <h4 class="bgblue"><%= @page_title %></h4>
  <a class="menu-icon open hide" href="javascript:void(0)">
    <%= image_tag("icons/icon-menu.svg", alt: "Menu-Icon") %>
  </a>
  <a class="menu-icon close" href="javascript:void(0)">
    <%= image_tag("icons/icon-close-menu.svg", alt: "Menu-Icon") %>
  </a>
</footer>
