<div class="menu">
  <h1 class="bgblue">ToDoGether</h1>
  <nav>
    <ul>
      <li><button class="btn hoverable block">Menu Item 1</button></li>
      <li><button class="btn hoverable block">Menu Item 2</button></li>
      <li><button class="btn hoverable block">Menu Item 3</button></li>
      <li><button class="btn hoverable block">Menu Item 4</button></li>
      <li><button class="btn hoverable block">Menu Item 5</button></li>
      <li><button class="btn hoverable block">Menu Item 6</button></li>
      <li><button class="btn hoverable block">Menu Item 7</button></li>
      <li><button class="btn hoverable block">Menu Item 8</button></li>
    </ul>
    <a class="close" href="javascript:void(0)">
      <img
        src="../../../assets/images/icon-close-menu.svg"
        alt="ToDoGether"
      />
    </a>
  </nav>
</div>