<notification class="notice margin">
  <p id="notice" class="notification">some text<%= notice %></p>
</notification>
<main>
  <%= yield %>
</main>
<aside>
  <%= render partial: "layouts/menu" %>
</aside>
<%= render partial: "layouts/footer" %>
